*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	block-size: 100%;
}

.visually-hidden {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}

.page {
	display: flex;
	justify-content: center;
	align-items: center;
	min-inline-size: 1200px;
	block-size: 100%;
	margin: auto;
	color: #fff;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
	width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #D9D9D9;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	max-width: 1140px;
	width: 100%;
	gap: 30px;
}

.result {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 15px;
	width: 711px;
}

.result__video-container {
	height: 390px;
	width: 711px;
	position: relative;
}

.result__video {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.search-form {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 711px;
	margin-bottom: -5px;
}

.search-form__fieldset {
	border: none;
	padding-right: 4px;
}

.search-form__fieldset-title {
	font-weight: normal;
	font-size: 17px;
	margin-bottom: 5px;
}

.search-form__label {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: fit-content;
	gap: 3.5px;
	cursor: pointer;
}

.search-form__textfield {
	color: #fff;
	background-color: transparent;
	appearance: none;
	cursor: pointer;
	border: none;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	width: 225px;
	line-height: 19px;
}


.search-form__textfield::placeholder {
	color: white;
}

.search-form__textfield::active {
	color: white;
}

.search-form__textfield:focus {
	outline: none;
}

.search-form__textfield:focus-visible {
	outline: 1px solid white;
	outline-offset: 1px;
}

.search-form__checkbox-list {
	display: flex;
	gap: 15px;
}

.search-form__checkbox {
	cursor: pointer;
}

/* внешний квадрат с белой рамкой и черный внутри */
.search-form__pseudo-checkbox {
	display: block;
	width: 19px;
	height: 19px;
	border: 1px solid white;
	background-color: #1B1919;
	gap: 1px;
	cursor: pointer;
	position: relative;
	opacity: 1;
}

/* внутренний белый квадрат поменьше*/
.search-form__pseudo-checkbox::after {
	content: "";
	display: block;
	background-color: white;
	inline-size: 15px;
	block-size: 15px;
	margin: 1px;
	position: absolute;
	opacity: 0;
}

.search-form__label:has(:focus-visible) {
	outline: 1px solid white;
	outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
	text-decoration: underline;
}

.search-form__pseudo-checkbox:focus {
	outline: 1px solid white;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
	content: "";
	display: block;
	inline-size: 15px;
	block-size: 15px;
	background-color: white;
	opacity: 1;
	margin: 1px;
}

.button {
	font-family: inherit;
	border: 1px solid white;
	color: white;
	font-size: 18px;
	font-weight: bold;
	background-color: transparent;
	box-sizing: border-box;
	cursor: pointer;
	height: 34px;
	line-height: 34px;
}

.button:hover {
	text-decoration: underline;
}

.button:active {
	background-color: #545050;
}

.button:focus {
	outline: 1px solid white;
	outline-offset: 1px;
}

.button:focus-visible {
	outline: 1px solid white;
}

.search-form__submit-button {
	min-height: 34px;
	width: 194px;
	align-self: flex-end;
}

.content__details {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 16px;
}

.title {
	font-family: 'Oswald';
	font-weight: bold;
	font-size: 75px;
	line-height: 94%;
	color: white;
	text-transform: uppercase;
	margin-top: 0px;
}

.content__accent {
	color: #545050;
	font-weight: bold;
	font-size: 75px;
	line-height: 94%;
	text-transform: uppercase;
}

.content__list-container {
	max-height: 298px;
	overflow-y: auto;
	gap: 30px;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow-x: hidden;
}

.content__list {
	display: flex;
	flex-direction: column;
	width: 390px;
	gap: 30px;
}

.content__list-item {
	padding-left: 3px;
	cursor: pointer;
}

.content__card-link {
	color: white;
	text-decoration: none;
	display: block;
}

.content__card-link_current {
	background-color: #545050;
}

.content__card-link:hover {
	text-decoration: underline;
}

.content__card-link:active {
	background-color: #545050;
}

.content__card-link:focus-visible {
	outline: 1px solid white;
}

.content__video-card {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.content__video-card-description-container {
	flex-grow: 1;
}

.content__video-card-title {
	font-family: 'Oswald';
	text-transform: uppercase;
	color: white;
	font-size: 30px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 196px;
	display: block;
}

.content__video-card-description {
	color: white;
	font-family: 'Fira Sans Condensed';
	line-height: 16.2px;
	font-size: 18px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	max-width: 196px;
}

.content__video-card-thumbnail {
	height: 103px;
	width: 194px;
	object-fit: cover;
	object-position: center;
	flex-shrink: 0;
}

.more-button {
	height: 34px;
	width: 100%;
}
