*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  height: 800px;
  width: 1200px;
}


h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}



.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	max-width: 1140px;
	width: 100%;
	gap: 30px;
	height: 534px;
}

.result {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 16px;
	width: 711px;
	height: 456px;
}

.result__video-container {
	height: 386px;
	width: 711px;position: relative;
}

.result__video {
	height: 100%;
	width: 100%;
  object-fit: cover;
}




.search-form {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
	width: 711px;
	height: 54px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: normal;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 1.5;
  

}


.search-form__textfield {
  color: #fff;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white; 

}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7)
}

.search-form__textfield:focus {
  outline: none;
  border: 1px solid white;
}

.search-form_textfield label:has(:focus-visible) {
  outline: 1px solid white;
}


.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  gap: 3.5px;
  cursor: pointer;
}

.search-form__checkbox {
  cursor: pointer;

}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  background-color: white;
  padding: 1px;
  gap: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1B1919;
  opacity: 1;
}


.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}
.search-form__pseudo-checkbox:focus {
  outline: 1px solid white;
}


.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
}



.button {
  border: 1px solid white;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
  border: none;
}
.button:focus-visible {
  outline: 1px solid white; 
}

.search-form__submit-button {
  height: 34px;
  width: 194px;
  align-self: flex-end;
}




.content__details {
  width: 100%;
  height: 534px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: flex-start;
  gap: 26px; 
}

.title {
  font-weight: bold;
  font-size: 75px;
  line-height: 94%;
  color: white;
  text-transform: uppercase;
}


.content__accent {
  color: #545050;
  font-weight: bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}


.content__list-container {
	height: 298px;
	overflow: auto;
  gap: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}


.content__list {
  display: flex;
  flex-direction: column;
	height: 566px;
	width: 390px;
  gap:30px;
}



.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
}


.content__card-link {
  color: white;
  text-decoration: none;
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}



.content__card-link:focus-visible {
  outline: 1px solid white;
}


.content__video-card {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
  gap: 30px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  font-weight: bold;

}


.content__video-card-description {
  color: white;
  line-height: 16.2%;
  font-size: 18px;
  margin-top: 6px;
}


.content__video-card-thumbnail {
	height: 103px;
	width: 194px;
	object-fit: cover;
	object-position: center;
  flex-shrink: 0;
}



.more-button {
  height: 34px;
  width: 100%;
}
